{
    "env":           {
        "node": 1
    },
    "globals":       {
        "process": 1
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType":  "module"
    },
    "parser":        "babel-eslint"
}
